form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  }
  
  @font-face {
    font-family: 'B Nazanin';
    src: url('fonts/BNazanin.ttf'); /* For IE9 and earlier */
    src: local('B Nazanin'),
         url('fonts/B-Nazanin.ttf') format('truetype'); /* For Safari, Android, iOS */
  }
  
  body {
    font-family: 'B Nazanin', sans-serif;
    font-size: large;
    text-align: right;
    direction: rtl;
  }

  h2 {
    text-align:right;
    font-size: medium;
  }
  
  label {
    display: block;
    margin: 0px 30px;
    
  }

  fieldset {
    border: none;
    margin: 0;
    padding: 0;
  }
  
input[type="text"],
input[type="number"],
  select,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
 background-color: #e4decd;
    border-radius: 4px; 
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;

  }
 
input:focus{
  background-color: #e4decd;
}
  input[type="checkbox"],
  input[type="radio"]{
    float: right;
    margin-top:auto;
  }
  
  .rating-group {
    display: flex;
    flex-direction: row-reverse; 
    flex-wrap: wrap;
  }
  
  .rating-group label {
    flex-basis: 25%;
    margin-right: 10px;
    margin-bottom: 10px;
    /* text-align: right; تغییر محل برچسب‌ها به راست */
  }
  
  .rating-group input[type="range"] {
    width: 100%;
    margin-bottom: 5px;
    /* direction: rtl; تغییر جهت به چپ به راست */
  }

  .buttons{
    text-align: center;
  }
  
  button {
    font-family: 'B Nazanin', sans-serif;
    font-weight: bold;
    font-size:medium;
    background-color: #4CAF50;
    color: white;
    padding: 7px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
 
    margin: 10px 3px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .form-part {
    margin-bottom: 20px;
    
  }
 .dnon{
  display:none;
 }
 /* استایل برای فیلدهای عنوان صفحه */
#pageTitles {
  display: flex;
  flex-direction: column;
}

#pageTitles > div {
  display: none;
}

#pageTitles > div.active {
  display: block;
}

/* استایل برای فیلد عنوان صفحه فعلی */
#pageTitles input[type="text"] {
  margin-bottom: 8px;
}
.active {
  display: block;
} 

.current_page{
  display: block;
}
table {
  border-collapse: collapse; /* ترکیب حواشی */
  width: 100%;
}

td, th {
  border: 1px solid black; /* تعیین حاشیه سیاه برای هر خانه */
  font-size: 12px;
  text-align: center; /* وسط چین کردن محتوای خانه‌ها */
  vertical-align: middle; /* وسط چین کردن ارتفاع محتوای خانه‌ها */
}
